/*-------------- Общие стили -------------*/
* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    background-color: rgb(255, 207, 75);
}

/* ----------------------------------------- */

.cart-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
}

.cart-phone {
    background: radial-gradient(#78ff74, #6dfff8);
    padding: 20px;
    /* border: 1px solid red; */
    margin: 20px;
    border-radius: 15px;
}

.cart-phone:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}