/*-------------- Общие стили -------------*/
* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

/*---------------------------------------*/

.user-cart {
    display: flex;
    justify-content: center;
}

.cart {
    text-align: center;
    background-color: rgba(0, 199, 99, 0.774);
    padding: 10px;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px;
}

.cart p {
    padding: 10px;
}